@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}   
   
:root {

}
body {

}
header {
    background-color: black;
    color: white;
    text-align: center;
        }
#credito {
    color: white;
    text-decoration: none;
}